<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr-FR' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Inter:wght@400;500&display=swap" rel="stylesheet">

    <!-- CSS personnalisé -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">
    <title>Emma – Data Scientist{% if page.title %} – {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Portfolio d'Emma – Data Scientist & Ingénieure Agroalimentaire{% endif %}">
    
    <meta property="og:title" content="Emma – Data Scientist & Ingénieure Agroalimentaire {{ page.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Portfolio d'Emma – Data Scientist & Ingénieure Agroalimentaire{% endif %}">
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/og-image-projets.png">
    <meta property="og:type" content="website">

  </head>

  <body>
    <!-- HEADER -->
    <header>
      {% include header_pages.html %}
    </header>

    <!-- MAIN CONTENT -->
     <main class="page-content">
       <h1 class="page-title">{{ page.title }}</h1>
      <div class="main-content">
        {{ content }}
      </div>
    </main>

    <!-- FOOTER -->
    {% include footer.html %}
  </body>
</html>
