<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr-FR' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Inter:wght@400;500&display=swap" rel="stylesheet">

    <!-- CSS personnalisé -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>

  <body>
    <!-- HEADER -->
    <header>
      {% include header_pages.html %}
    </header>

    <!-- MAIN CONTENT -->
     <main class="page-content">
       <h1 class="page-title">{{ page.title }}</h1>
      <div class="main-content">
        {{ content }}
      </div>
    </main>

    <!-- FOOTER -->
    {% include footer.html %}
  </body>
</html>
